{% extends 'layout.html.twig' %}
{% block title %}Erreur -
	{{ parent() }}
{% endblock %}
{% block content %}
	<main>
		<link href="/assets/styles/main.css" rel="stylesheet" type="text/css"/>
		<section class="error">
			<picture class="error__img">
				<source srcset="/assets/img/dali.webp" type="image/webp">
				<img src="/assets/img/dali.jpeg" alt="Salvador Dali qui nous regarde avec des grands yeux" loading="lazy">
			</picture>
			<h1 class="title__bigger">Zut</h1>
			<p class="error__message">{{ message }}</p>
			<a class="backLink" href="/">Revenir sur la page d'accueil</a>
		</div>
	</main>
{% endblock %}
