{% extends 'layout.html.twig' %}
{% block title %}Erreur -
	{{ parent() }}
{% endblock %}
{% block content %}
	<main>
		<div>
			<h1>Zut</h1>
			<p class="message">{{ message }}</p>
			<a href="/">Revenir sur la page d'accueil</a>
		</div>
	</main>
{% endblock %}
