<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg" href="/assets/img/l.svg"/>
		<title>
			{% block title %}Loufok | Cadavre exquis
			{% endblock %}
		</title>
	</head>
	<body>
		{% block content %}{% endblock %}
		{% block js %}
	{% endblock -%}
</body></html>
