{% extends 'layout.html.twig' %}
{% block title %}
	Erreur -
	{{ parent() }}
{% endblock %}
{% block content %}
	<link href="/assets/styles/main.css" rel="stylesheet" type="text/css"/>
	<main>
		<section class="error">
			<picture class="error__img">
				<source srcset="/assets/img/dali.webp" type="image/webp">
				<img src="/assets/img/dali.jpeg" alt="Salvador Dali qui nous regarde avec des grands yeux" loading="lazy">
			</picture>
			<ul>
				{% for error in errors %}
					<li>
						<p class="error__paragraph">{{ error }}</p>
					</li>
				{% endfor %}
			</ul>
			<a class="backLink " href="{{ url('/administrateur/' ~ idAdmin)}}">Retour à la page principale</a>
		</section>
	</main>
{% endblock %}
